*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding: 0;
}

.container{
  width: 1000px;
  padding: 20px 0;
  margin:auto;
  font-family: sans-serif;
}

.header{
  position: relative;
}

.header p{
  display: inline-block;
  border-right:2px solid gray;
  float:left;
  margin-left: 150px;
  padding-right:40px;
  color:#444444;
  font-weight: bold;
}

.header ul{
  float:left;
}

.header ul li{
  list-style-type: none;
  float:left;
  padding-left: 20px;
  color: gray;
}

.icon-cart{
  position: absolute;
  top:10px;
  right: 180px;
}

.header-img{
  margin-top: 10px;
}

/*Content*/
.content{
  text-transform: uppercase;
}

.latest{
  text-align: center;
  margin:auto;
  width: 75%;
  height: 300px;
}

.products{
  border:2px solid #ddd;
  float:left;
  height: 230px;
  width: 30%;
  margin-right: 22px;
  font-size: 12px;
}

.popular{
  text-align: center;
  margin:auto;
  margin-top: 30px;
  width: 75%;
  height: 300px;
}

/*Footer*/
.footer{
  margin:auto;
  width: 75%;
}

.footer img:last-child{
  margin-right: 0px;
}

.footer img{
  margin-right: 50px;
}
